<footer class="footer">
  <div class="wrap footer-main">
    <div class="footer-brand">
      <span class="b-name">Novoterm</span>
      <span class="b-sub">Budownictwo</span>
      <p>Generalny wykonawca prac wykończeniowych obiektów biurowych i przemysłowych. Wielkopolska.</p>
    </div>
    <div>
      <h4>Oferta</h4>
      <ul>
        <li><a href="/generalne-wykonawstwo">Generalne wykonawstwo</a></li>
        <li><a href="/specjalizacje-hale-biurowe">Hale biurowe</a></li>
        <li><a href="/specjalizacje-obiekty-przemyslowe">Obiekty przemysłowe</a></li>
        <li><a href="/specjalizacje-izolacje-pur">Izolacje PUR</a></li>
        <li><a href="/specjalizacje-sucha-zabudowa">Sucha zabudowa</a></li>
      </ul>
    </div>
    <div>
      <h4>Firma</h4>
      <ul>
        <li><a href="/o-firmie">O firmie</a></li>
        <li><a href="/realizacje">Realizacje</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/proces">Dla inwestorów</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </div>
    <div>
      <h4>Kontakt</h4>
      <ul class="footer-contact">
        <li><b><a href="tel:+48726324514">+48 726 324 514</a></b></li>
        <li><a href="mailto:biuro@novoterm-budownictwo.pl">biuro@novoterm-budownictwo.pl</a></li>
        <li>ul. Ciemierów 10<br />62-310 Pyzdry</li>
      </ul>
    </div>
  </div>
  <div class="wrap footer-bottom">
    <span>© {new Date().getFullYear()} Novoterm Budownictwo. Wszystkie prawa zastrzeżone.</span>
    <span>Pozostała działalność: budownictwo mieszkaniowe · ogrodzenia · konstrukcje stalowe</span>
  </div>
</footer>
